<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.qmk-hid-host</string>

    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/.local/bin/qmk-hid-host</string>
        <string>-c</string>
        <string>__HOME__/.config/qmk-hid-host/config.json</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/qmk-hid-host.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/qmk-hid-host.err.log</string>

    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
